
* {
   margin: 0px;
   padding: 0px;
}


body, html{
    height:100%;
background: url("../images/emptyscreen_logo.png") no-repeat center center  #EBEBE7;
}



.status{
}    
 
#txt
{
font-family: "Segoe UI", Tahoma, Verdana, Arial;
text-align: center;
color:black;
}
.status    
{
background:transparent;
border:#eaeaea 2px;
}

.twitter_image{
float:left;
margin-right:10px;
width:1.1%;
height:1.1%;
}
.twitter_posted_at{
color:#999;
}

#titlebar
{
    float:left;
    height:6%;
    width:100%;  
    border-bottom:1px solid black;
    background-color:#006582;
    
}
#bottombar{
    height:5%;
    width:100%;  
    float:left;
    background-color:#006582;
    text-align:center;
    border-top:1px black solid;
}
#tweets
{
    float:left;
    height:10%;
    width:100%;
    text-align:center;
}
#title
{
    max-height: 3.6em;
    top: 0.4em;
    position:absolute;
    left:40px;
    cursor:pointer;
    text-align:left;
    width:96.5%;
}
.button
{
    border-bottom:black solid 1px;
    width:100%;
    height:15%;   
    color:black;
    text-align: center;
    background-color:#DDF4FB;

}
#button1,#buttonEnableEdit, #buttonDisableEdit,#delete, #addCmsAction, #editCmsAction, #cancelCmsAdd{
    float:left;
    border:black solid 1px;
    color:#006582;
    text-align: center;
    width:100%;
    height:100%;
    background-color:white;
}
 #button1{
         
          width:49.8%;
    }
 #buttonEnableEdit{
         width:49.8%;
    }
#buttonDisableEdit{
        display:none;
        width:99.9%;
    }
#button1:hover, #button2:hover, .button:hover,  #buttonEnableEdit:hover, #buttonDisableEdit:hover, #delete:hover, #addCmsAction:hover, #editCmsAction:hover, #cancelCmsAdd:hover
{
    background-color:#ff6740;
    color:white;
}
#menu
{
    float:left;
    position:relative;
    height:93.9%;
    width:99.9%;
    display:block;
}
#editbuttons
{
    display:none;
    height:5%;
}
#normalbuttons
{
    height:5%
}

#mainWebsite
{
    
    position:absolute;
    z-index: 15;
    width:100%;
    height:100%;
    }
#photoview{
    height:90%;
    display:none;
    float:left;
    width:100%;
}
button.camera-control {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(50%, #dddddd), color-stop(50%, #d2d2d2), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #dfdfdf;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  color: #626;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 1px 1px #fff;
  width: 150px;
}
button.camera-control:hover {
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(50%, #d1d1d1), color-stop(50%, #c4c4c4), color-stop(100%, #b8b8b8));
    background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3;
    box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3; }
  button.camera-control:active {
    -webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
    box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white; 

    }
#login{
    display:none;
}    
 
#optionsbutton{
    float:left;
    height:120%;
}
#profilebutton{
    float:right;
    height:120%;
}
#options{
    height:90%;
    display:none;
    float:left;
    width:100%;
}
#cameraPic{
    height:80%;
    width:80%;
}
#camerabuttons{
    width:160px;
}
#setCMS{
    display:none;
    width:100%;
    height:94.8%;
}
#headerSetCMS
{
    border-bottom:1px solid black;
    width:100%
}
#inputfieldSite{
    margin-top:20px;
    width:100%;
    float:left;
    text-align: center;
}
#inputfieldUser
{
     margin-top:20px;
     float:left;
     width:100%;
     text-align: center;
}
#buttonInput{
    width:100%;
    float:left;
}
#cmssystems{
    height:94.8%;
    float:left;
    width:100%;
    overflow:auto;
}
#delete{
    width:24.9%;
}
#addCmsAction{
    width:24.9%;
}
#editCmsAction{
    width:24.9%;
}
#cancelCmsAdd{
    width:24.9%;
}
#labels{
    text-align: right;
    float:left;
    width:45%
}
#inputs{
    text-align: center;
    margin-left:1%;
    float:left;
    width:10%
}

